//-----Colors
$primary-color: #0A68FF;
$secondary-color: black;
$terciary-color: white;
$font-color: #aaa;
$fondo: #f5f6fa;

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

$limit: 10;
$unit: 8px;


//------------Responsive------
$small-screen-min-width: 320px;
$small-screen-max-width: 568px;
$medium-screen-min-width: 768px;
$medium-screen-max-width: 1024px;
$large-screen-min-width: 1824px;